@{
    ViewBag.Title = "About";
}
<h2>About ChessSharp</h2>
<h3>An open source chess project written in C#</h3>

<p>Navigate to ChessSharp repository on <a target="_blank" href="https://github.com/Youssef1313/ChessSharp">GitHub</a>.</p>

