@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChessSharp</h1>
    <p class="lead">Welcome to ChessSharp!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Invite a friend to game</h2>
        <p>
            Click the button below to invite a friend to game!
        </p>
        
        <p><a class="btn btn-default" href=@Url.Action("Create", "Game")>Create game</a></p>
    </div>
    <div class="col-md-6">
        <h2>Join a game</h2>
        <p>Ask your friend who created the game to give you the game link</p>
    </div>
</div>