@{
    ViewData["Title"] = "About";
}

<h2>About ChessSharp</h2>
<p>An open source chess project written in C#. Check out our repository on <a target="_blank" href="https://github.com/Youssef1313/ChessSharp">GitHub</a>.</p>