body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.square {
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0;
    background-size: contain;
}

.dark-square {
    background-color: #b58863;
}

.light-square {
    background-color: #f0d9b5;
}

.rank {
    font-size: 0;
}

.WhitePawn {
    background-image: url(Images/WhitePawn.png);
}

.WhiteKnight {
    background-image: url(Images/WhiteKnight.png);
}

.WhiteBishop {
    background-image: url(Images/WhiteBishop.png);
}

.WhiteRook {
    background-image: url(Images/WhiteRook.png);
}

.WhiteQueen {
    background-image: url(Images/WhiteQueen.png);
}

.WhiteKing {
    background-image: url(Images/WhiteKing.png);
}

.BlackPawn {
    background-image: url(Images/BlackPawn.png);
}

.BlackKnight {
    background-image: url(Images/BlackKnight.png);
}

.BlackBishop {
    background-image: url(Images/BlackBishop.png);
}

.BlackRook {
    background-image: url(Images/BlackRook.png);
}

.BlackQueen {
    background-image: url(Images/BlackQueen.png);
}

.BlackKing {
    background-image: url(Images/BlackKing.png);
}